<h2>Add new Student</h2>

<%= render "form.html", changeset: @changeset,
action: student_path(@conn, :create),
current_user: @conn.assigns.current_user %>


<%= link "Back", to: student_path(@conn, :index) %>
