<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Studentmanager V2.0 | Manage your students with ease!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <a class="navbar-brand" href="#">Student Manager</a>
          <ul class="nav navbar-nav">
              <%= if @current_user do %>
                <li class="nav-item"><%= link "Students", to: student_path(@conn, :index), class: "nav-link" %></li>
              <% end %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <%= if @current_user do %>
              <li><a href='#'><%= @current_user.name %></a></li>
              <li><%= link "Log Out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "navbar-text" %></li> 
            <% else %>
              <li><%= link "Login", to: session_path(@conn, :new)  %></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
      <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
