<h1>About Student Manager</h1>
<p>Student Manager is an application to manage your private music students easy and effortless</p>
<p>Some noticable features are:</p>
<ul>
  <li>Manage all student information</li>
  <li>Manage lesson schedule</li>
  <li>Record and assign Homework</li>
  <li>Send message to your students</li>
  <li>Provide lesson materials for students</li>
  <li>Manage payments and invoicing of your lessons</li>
  <li>and much more...</li>
</ul>
